@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body, .content {
    background-color: #fff;
    color: #000;
}

.jumbotron {
    background-color: #82b0cc;
}

.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, label, th {
    font-family: Electrolize, sans-serif;
    color: #c44a97;
    font-weight: 800;
}

.content a:not(.btn) {
    color: #7e4a97 !important;
}

