---
import Site from '../layouts/Site.astro';
import ArticleCardList from '../layouts/ArticleCardList.astro';


import { getCollection } from 'astro:content';
let latestNews = await getCollection('articles', ({ data}) => {
	return data.status === 'published' && data.type === 'blogpost'
});
latestNews = latestNews.sort((a, b) => a.data.created_date < b.data.created_date ? 1 : -1).slice(0, 8);

const worlds = await getCollection('worlds', ({ data}) => {
	return data.status === 'published'
});

---

<Site title="Helmgast">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div>
					<img src="/favicon.svg" class="img-responsive" alt="Helmgast logo" />
				</div>
			</div>
			<div class="col-md-6 page-header">
				<h1 class="publisher-header">HELMGAST</h1>
				<h2 class="publisher-tagline">Rollspel på allvar</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-6 col-md-5">
				<a href="#latestnews" class="pull-right news-link">
					<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Senaste nytt
				</a>
			</div>
		</div>
	</div>
	{worlds.map(world => (
		<a href={world.slug}>
			<div class="page-header page-header-hero parallax-border"
					style={world.data.images?.[0] && `background: url(${world.data.images?.[0]}) center top/cover`}>
				<div class="container">
					<h1 class="col-lg-offset-2 col-lg-10 col-md-12 col-sm-12">
						{ world.data.title }
						<small>{ world.data.tagline }</small>
					</h1>
				</div>
			</div>
		</a>
	))}
	<div class="container content">
		<div class="row">
			<ArticleCardList 
				articles={latestNews}
				title="Senaste nytt"
				readMoreHref="/blog"
			/>
		</div>
	</div>
</Site>

