---
import Site from '@layouts/Site.astro';
import MyAccountIsland from '../islands/MyAccountIsland.astro';
---
<Site title="My Account — Helmgast">
  <div class="page-header">
    <div class="container">
      <h1>My Account</h1>
    </div>
  </div>
  <div class="container content">
    <MyAccountIsland />
  </div>
</Site>
