---
import Site from '@layouts/Site.astro';
import MyOrdersIsland from '../islands/MyOrdersIsland.astro';
---
<Site title="My Orders — Helmgast">
  <div class="page-header">
    <div class="container">
      <h1>My Orders</h1>
    </div>
  </div>
  <div class="container content">
    <MyOrdersIsland />
  </div>
</Site>
