---
import ArticleIntro from './ArticleIntro.astro';
import Header from './Header.astro';
import Site from './Site.astro';

const { article } = Astro.props;
const { Content, headings } = await article.render();

---

<Site title={article.data.title}>
    <Header 
        title={article.data.title} 
        backgroundImage={article.data.images?.[0]}
    />
    <div class="container">
        <div class="row">
            <ArticleIntro article={article} />
            <div class="col-lg-9 col-md-12 col-sm-12 content">
                <article class="article-text">
                    <Content />
                </article>
            </div>
        </div>
    </div>
</Site>