---
import type { CollectionEntry } from 'astro:content';
import ArticleCard from './ArticleCard.astro';

interface Props {
	articles: CollectionEntry<'articles'>[];
    title: string;
    readMoreHref?: string;
    readMoreText?: string;
}

const { title, articles, readMoreHref, readMoreText = 'Read more' } = Astro.props;

---

<div class="row">
    <h3 id="latestnews" class="anchor">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {title}</h3>
    <div class="col-md-12 cards margin-above">
        {articles.map(article => <ArticleCard article={article} />)}
    </div>
    {readMoreHref && <a href={readMoreHref} class="pull-right">{readMoreText}</a>}
</div>