<footer>
    <div class="row">
        <div class="col-xs-4">
            <ul class="list-unstyled">
                <li>
                    <a data-toggle="modal" data-target="#themodal" href="#">
                        Contact Us
                    </a>
                </li>
                <li><a href="http://eepurl.com/RuMH1">Newsletter</a></li>
                <li class="margin-above">
                    <div class="social">
                        <a class="socialtw" href="https://twitter.com/helmgast" target="_blank">
                            <svg class="lore-icon lore-icon-twitter">
                                <use xlink:href="#lore-twitter"></use>
                            </svg>
                        </a>
                        <a class="socialfb" href="https://www.facebook.com/helmgast" target="_blank">
                            <svg class="lore-icon lore-icon-facebook">
                                <use xlink:href="#lore-facebook2"></use>
                            </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="list-unstyled">
                <li>
                    <a href="/meta/about-helmgast">
                        About
                    </a></li>
                <li>
                    <a href="/meta/work-with-us">
                        Work with us
                    </a></li>
                <li><a href="/meta/fan-content-policy">
                    Fan Content Policy
                    </a></li>
            </ul>
        </div>
        <!-- --/col-lg-3 ---->

        <div class="col-xs-4">
            <ul class="list-unstyled">
                <li>
                    <a href="https://webshop.helmgast.se/en/terms.html">
                        Terms of Service</a></li>
                <li>
                    <a href="/meta/security-and-privacy">
                        Security and cookie policy</a></li>
            </ul>
        </div>
        <!-- --/col-lg-3 ---->
    </div>
</footer>