<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".my-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand my-collapse collapse in">
            <a class="animated-move" href="/">
                <img class="img-responsive" src="//helmgast.se/plugins/helmgast-theme/logo-helmgast.svg">
            </a>
        </div>
    </div>
    <div class="collapse navbar-collapse my-collapse">
        <ul class="nav navbar-nav navbar-nav-top">
            <li id="tour-gameworlds"><a href="worlds">
                <span class="glyphicon glyphicon-globe"></span> Game Worlds
            </a></li>
            <li><a href="blog">
                <span class="glyphicon glyphicon-comment"></span> Blog
            </a></li>
            <li><a href="https://webshop.helmgast.se" target="_blank">
                <span class="glyphicon glyphicon-shopping-cart"></span> Shop
            </a></li>
            <li><a href="https://www.rollspel.nu/forums/helmgast.130/" target="_blank">
                <span class="glyphicon glyphicon-bullhorn"></span> Forum
            </a></li>
        </ul>

    </div>
    <div class="collapse navbar-collapse my-collapse navbar-sub">
        <ul class="nav navbar-nav">
            <li class="breadcrumb-item nobr"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right actionbar">
        </ul>
    </div>
</nav>